html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	background-color: #F9FBFC;
}

/*font*/
@font-face{
	font-family: montli;
	src: url(../font/Montserrat-LightItalic.ttf);
}
@font-face{
	font-family: merb;
	src:  url(../font/Merriweather-Bold.ttf);
}
@font-face{
	font-family: merti;
	src:  url(../font/Merriweather-LightItalic.ttf);
}
@font-face{
	font-family: mont;
	src: url(../font/Montserrat-Regular.ttf);
}
@font-face{
	font-family: montb;
	src: url(../font/Montserrat-Bold.ttf);
}
@font-face{
	font-family: chapaza;
	src: url(../font/Chapaza.ttf);
}
@font-face{
	font-family: montt;
	src:  url(../font/Montserrat-Thin.ttf);
}

header{
	height: 100px;
	padding: 0 50px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 10;
}
.full{
	width: 100%;
	fill: currentColor;
}
.navicon{
	display: flex;
	justify-content: center;
	width: 150px;
	margin-left: -50px;
}
.navicon > div{
	color: #A0DBDB;
	height: auto;
	width: 52px;
	transition-duration: 150ms;
	cursor: pointer;
}
.navicon > div:hover{
	color: #56A7A7;
}
.rotate{
	transform: rotate(180deg);
}
.link{
	font-family: 'montli', sans-serif;
	font-size: 24px;
	font-weight: 100;
}
.link > a{
	text-decoration: none;
	color: #56A7A7;
	margin-left: 40px;
	transition-duration: 150ms;
}
.link > a:hover{
	color: #A0DBDB;
}


.sidebar{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 150px;
	z-index: 0;
}
.sidebar > a {
	padding-bottom: 50px;
	width: 32px;
	color: #A0DBDB;
	transition-duration: 150ms;
	cursor: pointer;
}
.sidebar> a:hover{
	color: #56A7A7;
}


footer{
	width: 100%;
}
footer > div{
	padding: 0 50px 50px 192px;
}
footer > div > div:nth-of-type(1){
	font-family: 'merb';
	font-size: 24px;
	color: #56A7A7;
	margin-bottom: 10px;
}
.socmed{
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: merti;
	font-size: 16px;
}
.socmed > div:nth-of-type(1) > a:first-child {
	margin-right: 50px;
}
.socmed > div > a{
	text-decoration: none;
	color: #A0DBDB;
	transition-duration: 150ms;
}
.socmed > div > a:hover{
	color: #56A7A7;
}

main{
	margin-left: 150px;
	display: flex;
	flex: none;
	flex-direction: column;
	scroll-snap-type: y mandatory;
}
.firsthome{
	height: 100vh;
	margin-top: -100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #56A7A7;
	justify-content: center;
}
.greet{
	user-select: none;
	position: relative;
	display: flex;
	justify-content: center;
}
.greet > div:nth-of-type(1){
	font-family: montb;
	font-size: 191px;
	color: white;
	text-shadow: 0 3px 52px rgba(0,0,0, 0.16);
}
.greet > div:nth-of-type(2){
	position: absolute;
	bottom: 0;
	font-family: chapaza;
	text-align: center;
	font-size: 116px;
}
.firsthome > div:nth-of-type(2){
	font-family: 'montli';
	font-size: 24px;
}
.description{
	position: absolute;
	bottom: 30px;
	right: 50px;
	width: 529px;
	text-align: right;
	font-family: montli;
	font-size: 16px;
}

.second-section-home{
	padding: 0 0 0 42px;
	position: relative;
	overflow: hidden;
}
.text-bg{
	position: absolute;
	top: 32px;
	font-family: montb;
	font-size: 274px;
	color: white;
	text-shadow: 0 3px 52px rgba(0,0,0, 0.02);
	z-index: -1;
}
.text-bg > span{
	font-family: montt;
}
.container-content{
	z-index: 10;
	width: 100%;
	padding-top: 194px;
	display: flex;
	overflow-x: scroll;
	padding-bottom: 150px;
}
.container-content > div {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(249, 251, 252, 0.5);
	width: 472px;
	height: 310px;
	transition-duration: 150ms;
	flex-shrink: 0;
}
.container-content > div:nth-of-type(1){
	margin-right: 80px;
	margin-left: 115px;
}
.container-content > div:nth-of-type(2){
	margin-right: 80px;
}
.container-content > div:hover{
	backdrop-filter: blur(0px);
	background: rgba(255, 255, 255);
}
.container-content::-webkit-scrollbar {
  display: none;
}

.project-title{
	padding-top: 100px;
	display: flex;
	justify-content: center;
	position: relative;
}
.project-title > div:nth-of-type(1){
	font-family: 'montb';
	font-size: 38px;
	color: #ECEEF0;
}
.project-title > div:nth-of-type(2){
	font-family: 'chapaza';
	font-size: 32px;
	position: absolute;
	bottom: -10px;
	color: #56A7A7;
}
.project-description{
	padding: 0 50px;
	margin-top: 30px;
	text-align: center;
	font-family: mont;
	font-size: 16px;
	color: #A0DBDB;
}